.card {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  padding: 10px;
  position: relative;
}

.card_icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: #ff8c32;
  background-color: inherit;
}

.card__title {
  text-align: center;
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: inherit;
}

.card__content {
  text-align: justify;
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: inherit;
}

.card_icon_style {
  background-color: inherit;
  cursor: pointer;
}
