.notes_container {
  background-color: inherit;
  margin: 10px 5px;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.list_empty {
  text-align: center;
}
